/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
  /* General Body and Hero Section */
  body {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }

  .hero_container {
    height: auto;
  }

  .hero {
    background-position: center;
    height: 70vh;
    flex-direction: column;
  }

  /* Social Icons */
  .social-icons {
    flex-wrap: wrap;
    margin: 1rem 0;
    gap: 1rem;
  }

  .social-icons a {
    font-size: 5vw; /* Scales font size for smaller screens */
  }

  /* Title */
  .title h1 {
    font-size: 8vw;
    text-shadow: rgb(255, 10, 169) 1px 0 5px;
  }

  /* Footer Navigation */
  .footer-nav {
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  .footer-nav li {
    margin: 0;
  }

  .footer-nav a {
    font-size: 4vw; /* Adjust font size for readability on smaller screens */
  }

  /* Music Note Animation */
  .music-note {
    font-size: 1.5rem;
  }

  /* Dove Animation */
  .dove {
    font-size: 1.5rem;
  }
}
